# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# LedFx Specific
/public/modules/yz-audio-visualiser.js
.env

# Cloned Repos (for testing)
/LedFx-Backend/
/audio-visualiser/

# Playwright Reports
/playwright-report/
/blob-report/
/test-results-pw/

# Playwright metadata
.last-run.json

# Restored ignore patterns
/LedFx_core-*--win.exe
/storybook-static
/extraResources/*.app
/extraResources/*.exe
src/assets/DMG_BG.psd
extraResources/*
.github/workflows/workflow-file-private.yml
.yarn_cache/*

BladeTools.pfx
storybook.log
doctor-storybook.log

*storybook.log
public/app
public/electron.js
public/preload.js
public/preload.cjs
public/renderer.js
src/api/docs/*
docs/*
public/modules/*
public/yz-audio-visualiser.js
